/* flex box classes */

.center {
    display: flex;

}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-wrap-true {
    flex-wrap: wrap;
}

.flex-wrap-false {
    flex-wrap: nowrap;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

/* custom width */

.w-1 {
    max-width: 10rem;
}

.w-2 {
    max-width: 20rem;
}

.w-3 {
    max-width: 30rem;
}

.w-4 {
    max-width: 40rem;
}

.w-5 {
    max-width: 50rem;
}

.w-full {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.7rem;
}

section ul {
    margin: 1.2em;
}

@media screen and (max-width: 564px) {}