.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.w-1 {
    max-width: 10rem;
}

.w-2 {
    max-width: 20rem;
}

.w-3 {
    max-width: 30rem;
}

.w-4 {
    max-width: 40rem;
}

.w-5 {
    max-width: 50rem;
}

.w-full {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.7rem;
}

.back-red {
    background-color: #ff7c7c;
}

@media screen and (max-width: 564px) {
    .back-red {
        background-color: #f84141;
    }
}